body,
.site__wrapper {
	height: 100%;
}


/*! global */
.site__wrapper {
	--first: #fff;
	--second: #000;
	--header-text-color: #000;
	--text-color: #000;
	--third: #444;
	--input-box-shadow: rgba(0, 0, 0, 0.25);
	--check-mark: #010002;
	--mobile-menu-bg: #f5f5f5;
	--menu-card: #fff;
	--delivery-btn: #373232;
	--delivery-input: #fafafa;
	--inp-focus: black;
	background: var(--first);
}

.content {
	min-height: 100%;
}

.cart__body {
	min-height: 100vh;
}

.site__wrapper.night {
	--first: #1A1A1A;
	--second: #767676;
	--header-text-color: #c3bc9a;
	--input-box-shadow: #ffe76d;
	--text-color: #dbdbdb;
	--svg-fill: #fff;
	--card-bg: #0b0b0b;
	--check-mark: #cfcfcf;
	--mobile-menu-bg: #1f1f1f;
	--menu-card: #201f1f;
	--delivery-btn: #826a6a;
	--delivery-input: #434242;
	--inp-focus: yellow;
	color: var(--text-color);
	background: var(--first);
}

.empty__div {
	height: 89px;
}

body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1em;

	&::-webkit-scrollbar {
		height: 100%;
		width: 15px;
		background: #c4c4c4;
		border-radius: 10px;

	}

	&::-webkit-scrollbar-thumb {
		background: darken(#c4c4c4, 15%);
		border-radius: 10px;
		width: 30%;
	}

	&::-webkit-scrollbar-thumb:active {
		background: darken(#c4c4c4, 25%);
	}
}

.no-skroll {
	overflow: hidden;
}

.row {
	display: flex;
}

.container {
	max-width: 1340px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.opacity-zero {
	opacity: 0;
}

.go__back {
	font-weight: 300;
	font-size: 30px;
	color: #0041E9;
	cursor: pointer;
	text-transform: uppercase;

	& svg {
		vertical-align: text-bottom;
		fill: #0041E9;
	}
}

/*! global */

/*! header */

.header {
	box-shadow: 0 0 10px var(--second);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
	background: var(--first);
	color: var(--header-text-color);
	width: 100vw;

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 20px;
	}

	&__rows {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		align-items: center;

	}

	&__logo {
		width: 80px;
		height: 80px;
		margin-right: 40px;
	}

	&__nav {
		display: flex;
		gap: 20px;
		font-weight: 500;
		font-size: 20px;
		margin-right: 20px;

		&-link {
			color: var(--header-text-color);
		}
	}

	&__right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 425px;
		width: 100%;

		& svg {
			fill: var(--svg-fill)
		}
	}

	&__search-block {
		display: flex;
		background: #EBEAEA;
		border-radius: 10px;
		height: 50px;
		box-shadow: 0px 0px 5px var(--input-box-shadow);
		margin-right: auto;

		&.focus {
			box-shadow: 0 0 10px var(--inp-focus);
		}
	}

	&__search-icon {
		background: #F0D882;
		border-radius: 10px 5px;
		padding: 5px;
		cursor: pointer;
	}


	&__input {
		width: 244px;
		font-size: 20px;
		color: #1A1A1A;
	}

	&__actions {
		display: flex;
		gap: 15px;
		height: 50px;
	}

	&__cart {
		align-self: flex-end;
		margin-right: 15px;

		& svg {
			width: 40px;
			height: 40px;
			align-self: flex-end;
		}
	}

	&__toggle-theme {
		width: 40px;
		height: 40px;
		position: relative;
		align-self: stretch;
		cursor: pointer;

		& .toggle {
			max-width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			opacity: 0;
			transition: all .3s ease-in-out;

			&.toggled-theme {
				z-index: 1;
				opacity: 1;
			}

			&.sun {
				transform: rotate(360deg);

				&.toggled-theme {
					transform: rotate(0);
				}
			}
		}

	}
}

.menu__burger {
	display: none;
	height: 50px;
	width: 50px;
	position: relative;

	& button {
		z-index: -1;
		position: absolute;

		& svg {
			opacity: 0;
			transform: rotate(180deg) scale(0);
			transition: all .3s ease-in-out;
		}

		&.active {
			z-index: 1;

			& svg {
				fill: var(--svg-fill);
				transform: rotate(0) scale(1);
				opacity: 1;
			}
		}
	}
}

/*! header */

/*! main/section */
.section {
	padding-top: 1px;
	/* .section__title */

	&__title {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 60px;
		line-height: 115%;
		color: var(--second);
		text-align: center;
	}

	/* .section__text */
	&__text {
		font-size: 27px;
		line-height: 116%;
		color: var(--third);
		text-align: center;
	}
}

.hero {
	height: calc(100vh - 80px);
}

.main__hero {
	background: url("../img/main-hero.jpg");

	& .container {
		display: flex;
		height: 100%;
	}

	&-info {
		margin-top: auto;
		margin-bottom: 248px;
		height: 254;
	}

	&-title {
		font-size: 195px;
		line-height: 117%;
		color: #FFFFFF;
	}

	&-text {
		max-width: 473px;
		font-size: 20px;
		line-height: 115%;
		color: #EFEFEF;
	}

	&-stars {
		font-weight: 700;
		font-size: 25px;
		line-height: 116%;
		letter-spacing: 0.1em;
		color: #FFFFFF;
	}
}

.menu__hero {
	background: url("../img/menu-hero.jpg");
}

.delivery__hero {
	background: url("../img/delivery-hero.jpg");
}

.hero {
	position: relative;
	z-index: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&::before {
		content: "";
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

/*? menu */
.menu {
	padding: 85px 0 400px;
}

/*? About*/

.about {
	padding-top: 1px;

	& .container {
		padding: 100px 20px 140px;
	}

	/* .about__cards */

	&__cards {
		margin: 65px auto 0;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-content: space-between;
		grid-row-gap: 60px;
		grid-column-gap: 30px;
	}

	/* .about__card */

	&__card {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		max-width: 600px;
		border-radius: 6px;
		overflow: hidden;
		background: var(--card-bg);
	}

	/* .about__img */

	&__img {
		max-height: 400px;

		& img {
			max-width: 100%;
		}
	}

	/* .about__card-info */

	&__card-info {
		padding: 10px 0 10px 12px;
	}

	/* .about__card-title */

	&__card-title {
		font-size: 20px;
		line-height: 102%;
		text-align: center;
	}

	/* .about__data-text */

	&__data-text {
		margin-top: 10px;

		& svg {
			fill: var(--check-mark)
		}
	}
}


.menu__row {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	overflow-x: scroll;
	gap: 50px;
	padding-bottom: 30px;

	&::-webkit-scrollbar {
		height: 15px;
		width: 100%;
		background: #c4c4c4;
		border-radius: 10px;

	}

	&::-webkit-scrollbar-thumb {
		background: darken(#c4c4c4, 15%);
		border-radius: 10px;
		width: 30%;
	}

	&::-webkit-scrollbar-thumb:active {
		background: darken(#c4c4c4, 25%);
	}

	&+.menu__row {
		margin-top: 70px;
	}
}

.menu .section__text {
	margin-bottom: 50px;
}

.card {
	min-width: 350px;
	max-width: 400px;
	width: 30vw;
	font-size: 27px;
	line-height: 118%;
	background: var(--first);
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	transition: background .3s ease-in-out;

	&:hover {
		background: lighten(#c4c4c4, 20%);
	}

	&__img {
		height: 300px;
		width: 100%;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
		}

		& img {
			width: 100%;
			max-height: 300px;
			height: 100%;

		}
	}


	&__data {
		padding: 15px 0 15px 15px;
	}

	/* .card__title */

	&__title {
		font-weight: 700;

	}

	/* .card__rating & .card__price*/
	&__rating,
	&__price {
		margin-top: 10px;
		font-weight: 600;

		& span {
			font-weight: 900;

		}
	}

	&__button {
		background: #DE5D00;
		border-radius: 30px;
		padding: 14px 40px;
		font-weight: 800;
		font-size: 20px;
		line-height: 115%;
		display: flex;
		align-items: center;
		color: #FFFFFF;
		margin-top: 15px;
		margin-bottom: 25px;
		transition: all .3s ease-in-out;

		&:hover {
			background: #FF9345;
			color: #eaeaea;
		}

		&:disabled {
			background: #BAA99C;
			border-radius: 30px;
			padding: 14px 20px;
		}
	}

	&__counter-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__count {
		display: flex;
		align-items: center;
		display: none;

		&.added {
			display: flex;
		}
	}

	&__count-text {
		font-size: 38px;
		line-height: 45px;
	}

	&__counter-btn {
		cursor: pointer;
	}
}


/*? About*/

/*? delivery */

.delivery {
	& .container {
		padding: 85px 20px 260px;
	}

	&__form {
		margin-top: 165px;
		max-width: 250px;
	}

	&__label {
		font-size: 17px;
		line-height: 118%;
		margin-bottom: 20px;
	}

	&__input {
		width: 100%;
		height: 45px;
		background: var(--delivery-input);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		padding: 15px;
		font-size: 20px;

		&::placeholder {
			font-size: 16px;
			line-height: 105%;
			color: #C4C4C4
		}
	}

	&__btn {
		background: var(--delivery-btn);
		border-radius: 50px;
		padding: 10px 15px;
		font-weight: 800;
		font-size: 15px;
		line-height: 108%;
		color: #FFFFFF;
		transition: all .3s ease-in-out;

		&:hover {
			background: #443e3e;
		}
	}

}

.input__block {
	margin-bottom: 40px;
}

/*? delivery */

/*? cart */

.cart__container {
	padding: 10px;
	border: 1px solid gray;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
	row-gap: 15px;
}



.cart__section-title {
	text-align: left;
	margin-top: 80px;
}

.cart__empty {
	text-align: center;
	padding: 25px 50px;
	font-size: 30px;
}

.cart__buy {
	background: greenyellow;
	border-radius: 30px;
	padding: 10px 20px;
	color: #fff;
	font-weight: 900;
	display: inline-block;
	margin-top: 20px;
}

.cart {
	max-width: 400px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	overflow: hidden;

	&__wrapper {
		padding: 30px 0;
	}

	/* .cart__img */

	&__img {
		& img {
			max-width: 100%;
		}

	}

	/* .cart__data */

	&__data {
		padding: 15px 15px 30px;
	}

	/* .cart__title */

	&__title {
		text-align: center;
		font-weight: 700;
		font-size: 27px;
		line-height: 32px;
	}

	& p {
		font-weight: 700;
		font-size: 27px;
		line-height: 32px;
		margin-top: 10px;
	}

	/* .cart__button */

	&__button {
		padding: 10px 0;
		width: 100%;
		display: block;
		text-align: center;
		background: linear-gradient(180deg, #FF9345 0%, #FF7512 100%);
		border-radius: 30px;
		font-weight: 900;
		font-size: 26px;
		line-height: 30px;
		color: #fff;
		text-transform: uppercase;
		margin-top: 35px;

		&:hover {
			background: linear-gradient(180deg, #FF7512 0%, #DE5D00 100%)
		}
	}
}


/*? cart */

/*? contacts */

.contacts {
	height: calc(100vh - 134px);

	& .container {
		padding: 30px 20px;

		& .row {
			justify-content: space-between;
		}
	}

	&__map {
		max-width: 850px;
		width: 100%;
		height: 80%;
	}
}

.map__col {
	max-width: 45%;
	width: 100%;
	height: 60vh;
}

.links__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 120%;
	margin-bottom: 15px;
}

.socials__title {
	margin-bottom: 40px;
}

.social__icons {
	display: flex;
	column-gap: 10px;
	align-items: center;
	margin-top: 40px;

	& svg {
		fill: var(--svg-fill);
	}
}

.contact__links {
	margin-bottom: 40px;
}

.phone__title {
	margin-bottom: 5px;
}

.phone__link:not(:first-child) {
	margin-top: 10px;
}


/*? contacts */

/*! main/section */

/*! footer */

.footer {
	background: #21342D;
	/* .footer .container */

	& .container {
		padding: 10px 20px;
	}

	/* .footer__copyright */

	&__copyright {
		font-weight: 700;
		font-size: 24px;
		line-height: 103%;
		color: #FFFFFF;
		text-align: center;
	}
}



/*! footer */


/*! queries */
@media (max-width: 991.98px) {
	.menu__burger {
		display: block;
	}

	.header {

		&__rows {
			position: fixed;
			left: 0;
			bottom: 0;
			flex-direction: column-reverse;
			justify-content: center;
			height: 100vh;
			z-index: 99999;
			max-width: 767px;
			width: 100%;
			background: var(--mobile-menu-bg);
			transition: all .3s ease-in-out;
			transform: translateX(-300vw);
			display: flex;
			padding: 20px;

			&.mobile {
				transform: translateX(0);
				overflow: scroll;

				& .header__nav {
					flex-direction: column;
					font-size: 30px;
					text-align: center;
					gap: 70px;
					margin-bottom: 100px;
				}
			}
		}

		&__left {
			justify-content: center;
			max-width: 100%;
		}

		&__right {
			display: flex;
			flex-direction: column;
			max-width: 100%;
			margin-top: 60px;
		}

		&__actions {
			align-self: center;
			justify-content: space-between;
			display: flex;
			height: 50px;
			margin-top: 30px;
			width: 100%;
		}

		&__search-block {
			width: 100%;
			height: 50px;
		}

		&__search-icon {
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			& img {
				width: 30px;
				height: 30px;
			}
		}

		&__input {
			width: 100%;
			padding: 0 15px;
		}

	}

	.menu__burger {
		z-index: 100000;
	}
	.menu {
		padding: 80px 100px;
	}


	.contacts {
		& .container {
			padding-top: 100px;
			padding-bottom: 125px;
		}

		& .row {
			flex-direction: column;
			row-gap: 50px;

			& .contact__col {
				width: 100%;
			}
		}
	}
	.map__col {
		display: none;
	}
	.cart__container {
		grid-template-columns: 1fr;
	}

	.cart {
		max-width: 50%;
		margin: 0 auto;

		img {
			width: 100%;
		}
	}

	.hero {
		height: calc(70vh - 90px);
	}
	.social__icons {
		margin-top: 20px;
		& svg {
			width: 30px;
		}
	}

}

@media (max-width: 767.98px) {
	.section__title {
		font-size: 30px;
	}

	.section__text {
		font-size: 15px;
	}

	.menu {
		padding: 20px 10px;
	}
	.main__hero {
		&-info {
			margin-bottom: 20px;
		}
		&-title {
			font-size: 50px;
		}
	}

	.about {
		& .container {
			padding: 20px 10px 30px;
		}

		&__cards {
			display: flex;
			overflow: scroll;
			padding-bottom: 40px;

			&::-webkit-scrollbar {
				height: 10px;
				width: 100%;
				background: #c4c4c4;
				border-radius: 10px;

			}

			&::-webkit-scrollbar-thumb {
				background: darken(#c4c4c4, 15%);
				border-radius: 10px;
				width: 30%;
			}

			&::-webkit-scrollbar-thumb:active {
				background: darken(#c4c4c4, 25%);
			}
		}

		&__card {
			min-width: 80%;
			max-width: 50%;
			width: 100%;
		}
	}

	.cart__container {
		border: none;
		padding: 0;
	}

	.cart {
		max-width: 100%;
	}
}

@media (max-width: 665.98px) {
	.footer__copyright {
		font-size: 16px;
	}

	.hero {
		height: calc(50vh - 90px);
	}
}

@media (max-width:484.98px) {
	.footer__copyright {
		font-size: 12px;
		font-weight: 400;
	}

	.footer .container {
		padding: 5px 5px;
	}
	.main__hero-info {
		display: none;
	}
	.hero {
		height: calc(40vh - 90px);
	}
}

/*! queries */